# Based on https://semantic-release.gitbook.io/semantic-release/recipes/ci-configurations/github-actions#node-project-configuration
name: Release
on:
  push:
    branches:
      - main

permissions:
  contents: read # for checkout

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Setup python
        uses: actions/setup-python@v6
        with:
          python-version: '3.12' 
      - name: Install dependencies
        run: pip install poetry==2.2.1 && poetry install
      - name: Check formatting
        run: poetry run black --check .
    
  release:
    name: Release
    # Should be after checks, see https://semantic-release.gitbook.io/semantic-release/usage/ci-configuration#run-semantic-release-only-after-all-tests-succeeded
    needs: check
    runs-on: ubuntu-latest
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      packages: write # to be able to publish ghcr images
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "lts/*"
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Release
        env:
          # The workflow token is automatically generated by GitHub
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # See https://docs.github.com/en/packages/managing-github-packages-using-github-actions-workflows/publishing-and-installing-a-package-with-github-actions
          DOCKER_REGISTRY_USER: ${{ github.actor }}
          DOCKER_REGISTRY_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
        # See https://semantic-release.gitbook.io/semantic-release/usage/installation#global-installation
        run: npx --package semantic-release@25 --package conventional-changelog-conventionalcommits@9.1.0 --package @semantic-release/exec@7 --package @codedependant/semantic-release-docker@5.1.1 semantic-release
